.body {
    font-family: 'Roboto', sans-serif;
    margin: 5px 5px 5px 5px;
    text-align: center;
    background-image: url(../images/backgroundd.jpg);
    resize: both;
    overflow: auto;
    background-attachment: local;
}