.container {
    color: #222;
    background: #eee;
    text-align: center;
    margin: 0 auto;
}

.Whitebackground {
    background: white;
}

.header {
    color: crimson;
}

.subHeader {
    color: darkred;

}